<template>
  <div class=" m-auto min-h-screen bg-base-300">
    <div class="btn-secondary p-16">
    <div class="text-center font-bold text-xl">List of Inventories</div>
    <div class="text-center">
      <h1 class="text-lg font-bold">{{ apartment.address }}</h1>
      <p class="text-sm">Floor : {{ apartment.floor }}</p>
      <p class="text-sm">Door : {{ apartment.door_number }}</p>
    </div>
  </div>
    <div class="card-compact bg-base-100 p-2 hover:shadow-xl">
      <table class="table table-xs sm:table-sm md:table-md lg:table-lg">
        <thead>
          <tr class="text-center text-base">
            <th><label>Item</label></th>
            <th><label>Quantity</label></th>
            <th><label>Action</label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="">
              <select class="select select-bordered w-full rounded-full" v-model="item">
                <option disabled selected value="">Select an item</option>
                <option v-for="i in inventoryItems" :key="i" :value="i">
                  {{ i }}
                </option>
              </select>
            </td>
            <td>
              <input
                class="input w-full text-center input-bordered rounded-full"
                type="number"
                v-model="quantity"
              />
            </td>
            <td>
              <button class="btn w-full btn-secondary btn-outline rounded-full" @click="addItemHandler">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
<span class="hidden md:block">Add</span> 
              </button>
            </td>
          </tr>
          <tr v-for="i in inventory" :key="i">
            <td class="">{{ i.item }}</td>
            <td class="text-center">{{ i.quantity }}</td>
            <td>
              <button
                class="text-red-500 hover:bg-base-100 btn w-full rounded-full"
                @click="handleDelete(i.item)"
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
              <span class="hidden md:block">Remove</span>
              

              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex gap-x-2 float-right pr-4">
      <button
        class="btn mb-10 mt-5 bg-red-500 hover:bg-red-600 text-white rounded-full"
        v-if="inventory.length > 0"
        @click="clearAllItemHandler"
      >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
</svg>
 Clear All
      </button>
      <button
        class="btn btn-secondary mb-10 mt-5 rounded-full"
        v-if="inventory.length > 0"
        @click="toggleModal"
      >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
</svg>
 Preview<span class="hidden md:block">and Approve</span>
      </button>
    </div>
  </div>
  <!-- modal -->
  <div class="mx-2 sm:mx-4" v-if="inventory.length > 0">
    <div
      class="modal pb-5 sm:pb-0 modal-bottom sm:modal-middle"
      :class="{ 'modal-open': showModal }"
    >
      <div class="modal-box">
        <h3 class="font-bold text-center text-lg">Updated Inventory List</h3>

        <table class="table table-sm sm:table-sm md:table-md lg:table-lg">
          <thead>
            <tr class="text-base">
              <th><label>Item</label></th>
              <th><label>Quantity</label></th>
            </tr>
          </thead>
          <tbody class="text-sm">
            <tr v-for="i in inventory" :key="i">
              <td class="">{{ i.item }}</td>
              <td class="">{{ i.quantity }}</td>
            </tr>
          </tbody>
        </table>

        <!-- modal actions -->
        <div class="modal-action">
          <button class="btn btn-secondary rounded-full" @click="saveHandler"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
 Approve</button>
          <button class="btn rounded-full" @click="toggleModal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted } from "vue";
const { id } = useRoute().params;
const { data: apartment } = await useFetch(`/api/apartment?id=${id}`, {
  key: id,
});
const search = useSearch();

const inventoryItems = [
  "Refregerator",
  "Microwave",
  "Oven",
  "Air Conditioner",
  "Sofa",
  "Bed",
  "Table",
  "Chair",
  "Cupboard",
  "Washing Machine",
  "Dish Washer",
  "TV",
  "Dining Table",
  "Dining Chair",
  "Coffee Table",
  "Side Table",
  "Bedside Table",
  "Bedside Lamp",
  "Floor Lamp",
  "Ceiling Lamp",
  "Air Purifier",
  "Table Fan"
];

const item = ref("");
const quantity = ref(1);
const inventory = ref([]);
const showModal = ref(false);
const router = useRouter();

onMounted(() => {
  inventory.value = JSON.parse(localStorage.getItem(`inventory-${id}`)) || [];
  search.value = "";
});

function toggleModal() {
  showModal.value = !showModal.value;
}
const addItemHandler = () => {
  if (inventory.value.length >= 20) {
    alert("You can't add more than 20 items to the inventory");
    return;
  }
  if (item.value.trim() === "") {
    alert("Select an item from the list");
    return;
  }
  inventory.value = inventory.value.filter((i) => i.item !== item.value);
  inventory.value.unshift({ item: item.value, quantity: quantity.value });
  item.value = "";
  quantity.value = 1;
};
const clearAllItemHandler = () => {
  inventory.value = [];
  localStorage.removeItem(`inventory-${id}`);
};
const handleDelete = (item) => {
  inventory.value = inventory.value.filter((i) => i.item !== item);
};

const saveHandler = () => {
  localStorage.setItem(`inventory-${id}`, JSON.stringify(inventory.value));
  router.push("/");
};
</script>
