<!-- Apartment card component where it displays all item data address, floor, door  -->
<template>
  <div class="card-compact bg-base-100 p-2 hover:shadow-xl rounded-lg">
    <div class="card-body">
      <h1 class="text-lg font-bold">{{ apartment.address }}</h1>
      <div class="flex justify-between mt-4">
        <div>
          <p class="text-sm">Floor : {{ apartment.floor }}</p>
          <p class="text-sm">Door Number : {{ apartment.door_number }}</p>
        </div>
        <div class="card-actions justify-end">
          <NuxtLink :to="`/apartment/${apartment.id}`">
            <button class="btn btn-md rounded-full btn-secondary btn-outline">
              More
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
const { apartment } = defineProps(["apartment"]);
const search = useSearch();
</script>
