<!-- Header navigation of the project -->
<template>
  <div class="navbar flex justify-between sm:py-3 md:py-3 bg-base px-3 h-16">
    <div class="logo">
      <NuxtLink to="/">
        <p class="cursor-pointer sm:mx-4 normal-case text-2xl font-bold">
          <img
            src="../assets/logo.png"
            alt="UpKeep"
            class="cursor-pointer sm:mx-4"
          />
        </p>
      </NuxtLink>
    </div>
    <div className="form-control pr-4">
      <input
        type="text"
        :placeholder="
          $route.name === 'index' ? 'Search apartments' : 'search inventory' // show hide search based on route name
        "
        class="input block w-auto rounded-full md:w-auto bg-base-200"
        v-if="$route.name === 'index'"
        v-model="search"
      />
    </div>
  </div>
</template>

<script setup>
const search = useSearch();
</script>
