<!-- Index file where it displays all apartment cards from apartment data /api/apartments mock data -->
<!-- display all apartments and
format search input -->
<template>
  <div class="py-4 px-2 min-h-screen bg-base-300">
    <div
      class="grid sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 sm:mx-2 gap-5"
    >
      <template v-for="a in apartments" :key="a.id"> 
        <div v-if="a.address.toLowerCase().includes(search.toLowerCase())">
          <ApartmentCard :apartment="a" />
        </div>
      </template>
    </div>
  </div>
</template>

<script setup>
const { data: apartments } = await useFetch("/api/apartments");
const search = useSearch();
</script>
